body 
{ 
    background-color: gainsboro ;
    background-repeat: no-repeat ;
    width: 1180px ;
    height: 200px ;
    }
    .name {
        margin-left : 80px;
        color: #1d1c1ce7 ;
        margin-top : 3px ;
         }
    
    .Home {
        border: 2px solid black;
        border-radius: 30px;
        padding :15px ; 
        text-decoration: none ;
        color: #1d1c1ce7;
      }
    .Home:hover {
        background-color:white ;}
    .About {
        border: 2px solid none;
        border-radius: 30px;
        padding :15px ; 
        text-decoration: none ;
        color: #1d1c1ce7;  
     }
    .contactme {
        border: 2px solid none;
        border-radius: 30px;
        padding :15px ; 
        text-decoration: none ;
        color: #1d1c1ce7;
        }
    .traineeship{
        border: 2px solid none;
        border-radius: 30px;
        padding :15px ; 
        text-decoration: none ;
        color: #1d1c1ce7;
        }
   
    HEADER {
        display: flex ;
        justify-content: space-between ;
        margin-top : 30px ;
        }  
        .section1-titre h2 {
            display: inline-block;
            border-bottom: 2px solid rgba(0,0,0,0.1);
            font-size: 0.889em;
            line-height: 1.8;
            text-align: center ;
            margin-left: 620px ;
            margin-bottom: 0.5em ;
         }
        th {
            text-align: left;}
        p{text-justify: auto ;}

        .comptance{ margin-left:260px ;
            margin-top: 1em ;}
        .section2-titre h2 {
                display: inline-block;
                border-bottom: 2px solid rgba(0,0,0,0.1);
                font-size: 0.889em;
                line-height: 1.8;
                text-align: center ;
                margin-left: 620px ;
                margin-bottom: -5em ;
             }
        .section2-txt { 
            margin-left: 500px ;
            margin-bottom: 7em ;
        color :red ;}
        .footer { 
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:  none;
            color: black;
            text-align: center;
            border: 2px solid rgb(172, 165, 154) ;
            border-style: solid;
            margin-bottom: 0.5em ;
        }
        
        