body 
{ 
    background-image: url('backround .jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    width: 1180px ;
    height: 200px;
    }
    .name {
        margin-left : 80px;
        color: wheat ;
        margin-top : 3px ;
         }
    
    .Home {
        border: 2px solid black;
        border-radius: 30px;
        padding :15px ; 
        text-decoration: none;
        color: #1d1c1ce7;
        color: azure ;
      }
    .Home:hover {
        background-color:white ;}
    .About {
        border: 2px solid none;
        border-radius: 30px;
        padding :15px ; 
        text-decoration: none ;
        color: #1d1c1ce7;  
     }
    .contactme {
        border: 2px solid none;
        border-radius: 30px;
        padding :15px ; 
        text-decoration: none ;
        color: #1d1c1ce7;
        }
   
    HEADER {
        display: flex ;
        justify-content: space-between ;
        margin-top : 30px ;
        }   
    .presentation {
        margin-top: 180px ;
        margin-left : 500px ;
        font-size: 20px
         }  
    .txt1 { 
        color: rgb(30, 30, 156) ;
        margin-left : 60px ;}
    
    p.txt2 { 
    width: 80em ;
    border : 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;}
    .seemore {
        border: 2px solid rgb(30, 30, 156) ;
        border-width:2px ;  
        border-style:solid;   
        padding :15px ; 
        text-decoration: none ;
        color: #1d1c1ce7;
        margin-left : 115px ;
              }
    .seemore:hover {
        background-color:white;
        }
        
    .blackfooter{ color: white;
    }
    
    
